@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 195 20% 97%;
    --foreground: 206 50% 10%;
    --card: 0 0% 100%;
    --card-foreground: 206 50% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 206 50% 10%;
    --primary: 206 54% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 170 62% 62%;
    --secondary-foreground: 206 50% 10%;
    --muted: 195 10% 90%;
    --muted-foreground: 206 20% 40%;
    --accent: 170 62% 62%;
    --accent-foreground: 206 50% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 206 20% 90%;
    --input: 206 20% 90%;
    --ring: 206 54% 49%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 206 50% 5%;
    --foreground: 0 0% 98%;
    --card: 206 50% 7%;
    --card-foreground: 0 0% 98%;
    --popover: 206 50% 7%;
    --popover-foreground: 0 0% 98%;
    --primary: 206 54% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 170 62% 42%;
    --secondary-foreground: 0 0% 100%;
    --muted: 206 20% 15%;
    --muted-foreground: 206 10% 65%;
    --accent: 170 62% 42%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 206 20% 20%;
    --input: 206 20% 20%;
    --ring: 206 54% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}
